# Elasticsearch
ES_URL=https://elasticsearch-edu.didim365.app
ES_USER=elastic
ES_PASSWORD=
ES_INDEX=edu-price-info

# OpenAI
OPENAI_API_KEY=

# Cohere (ReRanker)
COHERE_API_KEY=

# 식품안전나라 API 키 (공공데이터 포털에서 발급)
FOOD_SAFETY_API_KEY=
